bin/*
!bin/mason_simulator
!bin/SURVIVOR
!bin/amplisim-v0_1_0-ubuntu_20_04
!bin/pbsim


data/*
data-ci/*

logs/*

.snakemake/

configs/

databases/

singularity_images/

results/

aux/nanosim_model/human_NA12878_DNA_FAB49712_guppy.tar.gz

*.pyc

.nextflow.log*
.nextflow/
work/

medaka/