// Pipeline meta-information
manifest {
  name = 'CIEVaD'
  description = 'A workflow for a simple, streamlined and rapid evaluation of variant callsets ' 
  author = 'Thomas Krannich'
  nextflowVersion = '>=19.04.0'
  version = '0.1.0'
}

// Parameters that are accessible in the pipeline script
params {
    outdir = 'results'
    reference = 'reference/Sars-Cov-2/Wuhan-Hu-1/MN908947.3.fasta'
    n = 3
    seed = 479
    read_type = 'ngs'

    // NGS (WGS) - Read simulation parameters
    nb_frag = 3000
    fragment_min_size = 450
    fragment_max_size = 550
    fragment_mean_size = 500
    fragment_size_std_dev = 20
    illumina_read_length = 150
}

// Enable execution report
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file = "${params.outdir}/execution_report_${trace_timestamp}.html"
}

// Predefined configurations for the user. Can be selected using the -profile command line option.
// Profiles can be combined by separating the profile names with a comma.
profiles {
    // engines
    conda { 
        conda.enabled = true
        conda.useMamba = false
    }
    mamba { 
        conda.enabled = true
        conda.useMamba = true
    }

    // executors
    local {
        executor.name = "local"
        executor.cpus = 4
    }
}
